/* global */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.sub_title {
    line-height: 20px;
    color: #dc4f72;
    margin: 0 0;
    font-weight: bold;
}

.sub_content {
    font-size: 16px;
    color: #5a5a5a;
}

button.white {
    border-color: #dc4f72;
    color: #dc4f72;
    transition: all 0.5s;
}

button.white:hover {
    background-color: #dc4f72 !important;
}

button.red {
    margin-top: 30px;
    padding: 15px 25px;
    font-weight: 700;
    color: white;
    background-color: #dc4f72;
    ;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
}


button:hover.red {
    background-color: #D62F58 !important;
}

/* header */
header {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    /* z-index: 99999; */
}

#search_header {
    display: inline-block;
    background: #F7F9FC;
    color: gray;
    border: 1px solid #d8dade;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

header .navbar-nav .nav-link.active, header .container .navbar .container-fluid .navbar-brand {
    color: #dc4f72 !important;
}

header .nav-item .nav-link {
    color: #2c3038;
}

header .container ul li a {
    position: relative;
}


header .container ul li a::before {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 0;
    height: 2.5px;
    background-color: #dc4f72;
    transition: all 0.5s;

}

header .container ul li a:hover::before {
    width: 25px;
    color: #dc4f72;
}

/* style for popup icon search */

.modal.fade#popup_header .modal-content {
    background-color: transparent;
    border: none;
}

.modal.fade#popup_header .modal-content .modal-header {
    border: none;

}


/* next page home */

.nextpage {
    margin-top: 90px;
    background-color: rgb(247, 247, 247);
    padding: 20px 0;
}

.nextpage a {
    text-decoration: none;
    color: #f55f8d !important;
}




/* about */

.about1 {
    margin-top: 40px;
}

.about1 .content .header_content {
    max-width: 750px;
    margin: 0 auto;
}

.about1 .content .header_content h1 {
    font-size: 46px;
    line-height: 45px;
    font-weight: 800;
}

.about1 .content .title .title_text h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about1 .content .title .title_text .first {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0 35px 0;
}

.about1 .content .title .title_text ul li {
    font-size: 16px;
    line-height: 30px;
    display: flex;
}

.about1 .content .title .title_text ul li i {
    height: 30px;
    color: #dc4f72;
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.about1 .content .title .title_text ul li p {
    font-weight: 600;

}

.about1 .content .title {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.about1 .content .title .title_img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.about1 .content .title .title_img {
    transform: translateY(0);
    transition: all 0.5s;
}

.about1 .content .title .title_img:hover {
    transform: translateY(-20px);
}

/* about2 */

.about2 {
    display: block;
}

.about2 .container .history .content {
    display: flex;
    flex-wrap: wrap;

}

.about2 .container .history .content_item .item {
    width: 363px;
}

.about2 .container .history .content_item .item h5 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
}

.about2 .container .history .content_item .item p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 16px;
}

/* Feature */

.feature .container .header {
    max-width: 750px;
    margin: 0 auto;
}

.feature .container .header .sub_title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.feature .container .header h3 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.feature .container .header .loremft {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.feature .business-types .col {
    height: 250px;
}

.feature .business-types .col .card-body {
    flex: none
}

.feature .feature_sub {
    margin-top: -3em ;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s;
}

.feature .card-body:hover .feature_sub {
    opacity: 1;
    transform: scale(1);
}
.feature .card-body:hover .icon-holder {
    transform: translateY(-80px);
    
}

.feature .card-body .icon-holder {
    margin-top: 70px;
}

.feature .card-body h5 {
    transition: all 0.5s;
}

.feature .card-body:hover h5 {
    transform: translateY(-60px);
}

.icon-holder {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    transition: all 0.3s ease;
    border-radius: 100%;
    color: #fff;
    font-size: 26px;
    background-color: #dc4f72;
}

/* solution */
.solution {
    display: block;

}

.solution .solution_title .sub_title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.title h3 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.loremsl {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.video img {
    width: 700px;
    transform: 0;
    transition: all 0.5s;
    border-radius: 10px;
}

.video img:hover {
    transform: translateY(-20px);
}

.button .btn {
    width: 220px;
    height: 60px;
    background-color: #d62f58;
}

.slick-content .col img {
    width: 287px;
    height: 107px;
    filter: grayscale(100%);
}

.slick-content .col img:hover {
    transition: all 0.6s;
   filter: none;
}

/*  video trong solution */
.solution .video button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
}
.solution .btn:first-child:hover, :not(.btn-check)+.btn:hover{
    /* background-color: transparent; */
    border: none;
}

.solution .btn-primary:focus{
    box-shadow: none;
}
.solution .video div i {
    color: #d62f58;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
}
/* popup của video */

.modal.fade#playvideo{
    background-color: rgba(0, 0, 0, 0.729);
}
.modal.fade#playvideo .modal-content {
    background-color: transparent;
    border: none;
}

.modal.fade#playvideo .modal-content .modal-header {
    border: none;

}
.btn-close{
    background: none;
}

/* member */

.member {
    background-color: #f7f9fc;
}

.member .member_title {
    text-align: center;
    margin: 50px 0;
}


.member .member_title .sub_title h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.member .member_title h3 {
    margin: 10px 0;
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.member .member_title .loremmb {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}



.member_item .team_info .info_title {
    padding: 16px;
    background: #fff;
    border-radius: 0 0 6px 6px;
    border: 1px solid #eee;
    border-top: none;
    margin-top: -6px;
}



.member .team_info .info_title .social .facebook span {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #3b5998;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
}

.member .team_info .info_title .social a span {
    font-size: 12px;
    line-height: 30px;
    display: block;
}

.member .team_info .info_title .social .twitter span {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #1da1f2;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    margin-left: 15px;
}

.member_item .team_info .img img {
    border-radius: 10px 10px 0 0;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.member_item .team_info {
    transition: all 0.5s;
    border-radius: 10px;

}

.member_item .team_info:hover {
    transform: translateY(-20px);
}

.member_item .team_info:hover .info_title h3 {
    color: #d62f58;
}









/* footer */
footer {
    background-color: #F7F9FC;
}

.footer_top .footer_item ul {
    list-style: none;
    padding: 0 0;
}

.footer_top .footer_item ul li {
    padding: 8px 0;
}


.footer_top .footer_item ul li a {
    transition: all 0.5s;
}

.footer_top .footer_item ul li a:hover {
    color: #dc4f72 !important;
}

.footer_top .footer_item {
    width: 15%;
}

.footer_top .footer_item:nth-of-type(4) {
    width: 55%;
}

.footer_top .footer_item:nth-of-type(4) div {
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.footer_top .footer_item:nth-of-type(4) div h3 {
    font-size: 18px;
    color: #2C3038;
    margin: 0 0 0px 0;
}

.footer_top .footer_item:nth-of-type(4) div input {
    border: none;
    background-color: #F7F9FC;
    padding: 12px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 70%;
}

.footer_top .footer_item:nth-of-type(4) div button {
    margin-top: 30px;
    padding: 12px 20px;
    font-weight: 700;
    color: white;
    background-color: #dc4f72;
    width: 20%;
    border: none;
    border-radius: 5px;
}

.footer_top .footer_item:nth-of-type(4) div {
    font-size: 22px;
}

.footer_bottom div a {
    color: black;
    transition: all 0.5s;
}

.footer_bottom div a:hover {
    color: #dc4f72 !important;
}




/* back to top */

.top_up a {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 0px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    opacity: 0;
    /* visibility: visible; */
}

.top_up {
    position: relative;
}

.top_up .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: .5;
}

/* Light theme */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: white;
    /* border: 1px solid black; */
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: #131617;
}

.dark #switchButton {
    background-color: #131617;
    /* border: 1px solid white;  */
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .card {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* global theme dark */
.dark .sub_content {
    color: #aeaeae;
}

/* header */

.dark header {
    background-color: #131617 !important;
}

.dark .navbar-nav .dropdown-menu {
    background-color: #131617;
}

.dark header .container .container-fluid li a {
    color: white;
}

.dark #search_header {
    display: inline-block;
    background: #171A1B;
    color: gray;
    border: 1px solid grey;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
}

.dark #search_header:hover {
    color: white;
}

/* next bage home */
.dark .nextpage {
    background-color: #191C1D;
}

.dark .nextpage p {
    color: #d8dade;
}

/*  nút play trong video */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.15), 0 0 0 10px rgba(255, 255, 255, 0.15), 0 0 0 20px rgba(255, 255, 255, 0.15);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.15), 0 0 0 20px rgba(255, 255, 255, 0.15), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}