* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* header */

.sub_title {
    line-height: 20px;
    color: #dc4f72;
    margin: 0 0;
    font-weight: bold;
}

.sub_content {
    font-size: 16px;
    color: #5a5a5a;
}


header {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    /* z-index: 99999; */
}

#search_header {
    display: inline-block;
    background: #F7F9FC;
    color: gray;
    border: 1px solid #d8dade;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

header .navbar-nav .nav-link.active,
header .container .navbar .container-fluid .navbar-brand {
    color: #dc4f72;
}

header .nav-item .nav-link {
    color: #2c3038;
}

header .container ul li a {
    position: relative;
}


header .container ul li a::before {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 0;
    height: 2.5px;
    background-color: #dc4f72;
    transition: all 0.5s;
    
}

header .container ul li a:hover::before {
    width: 25px;
    color: #dc4f72;
}


/* style for popup icon search */

.modal.fade#popup_header .modal-content {
    background-color: transparent;
    border: none;
}

.modal.fade#popup_header .modal-content .modal-header {
    border: none;

}

/* nextpage */
.nextpage {
    margin-top: 90px;
    background-color: rgb(247, 247, 247);
    padding: 20px 0;

}

.nextpage a {
    text-decoration: none;
    color: #f55f8d !important;
}

/* contact */

.contact .title h2 {
    color: #2c3038;
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}
}

