/* global */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.sub_title {
    line-height: 20px;
    color: #dc4f72;
    margin: 0 0;
    font-weight: bold;
}

.sub_content {
    font-size: 16px;
    color: #5a5a5a;
}


/* header */
header {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    /* z-index: 99999; */
}

#search_header {
    display: inline-block;
    background: #F7F9FC;
    color: gray;
    border: 1px solid #d8dade;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

header .navbar-nav .nav-link.active, header .container .navbar .container-fluid .navbar-brand {
    color: #dc4f72;
}

header .nav-item .nav-link {
    color: #2c3038;
}

header .container ul li a {
    position: relative;
}


header .container ul li a::before {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 0;
    height: 2.5px;
    background-color: #dc4f72;
    transition: all 0.5s;

}

header .container ul li a:hover::before {
    width: 25px;
    color: #dc4f72;
}

/* style for popup icon search */

.modal.fade#popup_header .modal-content {
    background-color: transparent;
    border: none;
}

.modal.fade#popup_header .modal-content .modal-header {
    border: none;

}


/* next page home */

.nextpage {
    margin-top: 60px;
    background-color: rgb(247, 247, 247);
    padding: 20px 0;
}

.nextpage a {
    text-decoration: none;
    color: #f55f8d;
}

/* service  */
.cap_service button {
    margin-top: 30px;
    padding: 15px 25px;
    font-weight: 700;
    color: white;
    background-color: #dc4f72;
    ;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
}

.cap_service button:hover {
    background-color: #D62F58;
}


.service_right .service_img {
    height: 80px;
    width: 80px;
    line-height: 78px;
    border-radius: 50%;
    background-color: #d8dade;
    text-align: center;
    box-shadow: 1px 5px 20px rgb(204, 204, 204);
}

/* strategy */
.cap_strategy{
    background-color: #F7F9FC;
}

.strategy_bottom .strategy_bot_left,.strategy_bottom .strategy_bot_right{
    width: 30%;
}
.strategy_bottom .strategy_bot_left .strategy_number span,.strategy_bottom .strategy_bot_right .strategy_number span {
    font-size: 20px;
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    margin-right: 30px;
    box-shadow: 0 0.5em 1em rgb(207, 207, 207) ;
    color: #f55f8d;
}
.strategy_bottom .strategy_bot_center{
    width: 40%;
}
.strategy_bottom .strategy_bot_center img{
    border-radius: 50%;
}














/* footer */
footer {
    background-color: #F7F9FC;
}

.footer_top .footer_item ul {
    list-style: none;
    padding: 0 0;
}

.footer_top .footer_item ul li {
    padding: 8px 0;
}

.footer_top .footer_item {
    width: 15%;
}

.footer_top .footer_item:nth-of-type(4) {
    width: 55%;
}

.footer_top .footer_item:nth-of-type(4) div {
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.footer_top .footer_item:nth-of-type(4) div h3 {
    font-size: 18px;
    color: #2C3038;
    margin: 0 0 0px 0;
}

.footer_top .footer_item:nth-of-type(4) div input {
    border: none;
    background-color: #F7F9FC;
    padding: 12px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 70%;
}

.footer_top .footer_item:nth-of-type(4) div button {
    margin-top: 30px;
    padding: 12px 20px;
    font-weight: 700;
    color: white;
    background-color: #dc4f72;
    width: 20%;
    border: none;
    border-radius: 5px;
}

.footer_top .footer_item:nth-of-type(4) div {
    font-size: 22px;
}

.footer_bottom div a {
    color: black;
    transition: all 0.5s;
}

.footer_bottom div a:hover {
    color: #dc4f72;
}


/* back to top */

.top_up a {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 0px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    opacity: 0;
    /* visibility: visible; */
}


.top_up {
    position: relative;
}

.top_up .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: .5;
}




/* Light theme */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: white;
    /* border: 1px solid black; */
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: black;
}

.dark #switchButton {
    background-color: black;
    /* border: 1px solid white;  */
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .card {
    background-color: black;
    color: white;
    border: 1px solid white;
}