/* global */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.sub_title {
    line-height: 20px;
    color: #dc4f72;
    margin: 0 0;
    font-weight: bold;
}

.sub_content {
    font-size: 16px;
    color: #5a5a5a;
}

button.red {
    border-color: #dc4f72;
    color: #dc4f72;
    transition: all 0.5s;
}

button.red:hover {
    background-color: #dc4f72 !important;
}

/* header */
header {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    /* z-index: 99999; */
}

#search_header {
    display: inline-block;
    background: #F7F9FC;
    color: gray;
    border: 1px solid #d8dade;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

header .navbar-nav .nav-link.active, header .container .navbar .container-fluid .navbar-brand {
    color: #dc4f72 !important;
}

header .nav-item .nav-link {
    color: #2c3038;
}

header .container ul li a {
    position: relative;
}


header .container ul li a::before {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 0;
    height: 2.5px;
    background-color: #dc4f72;
    transition: all 0.5s;

}

header .container ul li a:hover::before {
    width: 25px;
    color: #dc4f72;
}

.dropdown-item.active {
    text-decoration: none;
    background-color: transparent;
}

/* style for popup icon search */

.modal.fade#popup_header .modal-content {
    background-color: transparent;
    border: none;
}

.modal.fade#popup_header .modal-content .modal-header {
    border: none;

}

/* CAROUSEL */

.cap_carousel {
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
    margin-top: 80px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cap_carousel::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.958);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.cap_carousel .container {
    padding: 0 25px;
    margin: auto;
}

.cap_left {
    padding: 30px;
}

.cap_left h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
}


.cap_left p {
    margin-right: 100px;
    font-size: 20px;
    color: #5a5a5a;
}


/* tools */
.cap_tools .cap_tools_top {
    width: 65%;
    margin: auto;
    padding: 70px;
}

.cap_tools .cap_tools_top h2 {
    color: #2c3038;
    font-size: 46px;
    line-height: 46px;
    font-weight: bold;
}

.tools_item {
    padding: 0 15px;
    background-color: #F7F9FC;
    border-radius: 5px;
    transition: all 0.5s;
}

.tools_item:hover {
    background-color: white;
    box-shadow: 1px 10px 30px rgb(214, 214, 214);
    transform: translateY(-5px);
}

.tools_item .tools_content {
    padding: 48px 32px;
    transition: all 0.5s;
}


/* information */

.cap_infor {
    background-color: #F7F9FC;
    /* height: 60vh; */
    padding: 80px 0 50px;
}

.infor_top {
    padding-bottom: 100px;
}


.infor_top_right img {
    width: 80%;
    object-fit: 100%;
    border-radius: 5px;
    transition: all 0.5s;
}

.infor_top_right img:hover {
    box-shadow: 0px 10px 30px rgb(214, 214, 214);
    transform: translateY(-5px);

}

.infor_top_left h2 {
    color: #2C3038;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.infor_top_left button {
    margin-top: 30px;
    padding: 15px 25px;
    font-weight: 700;
    color: white;
    background-color: #dc4f72;
    ;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
}

.infor_top_left button:hover {
    background-color: #D62F58;
}

.infor_bottom {
    gap: 30px;
}

.infor_bottom .infor_content {
    background-color: white;
    padding: 20px;
    box-shadow: 1px 5px 20px rgb(204, 204, 204);
    border-radius: 5px;
    transition: all 0.5s;
}

.infor_bottom .infor_content:hover {
    box-shadow: 1px 5px 40px rgb(213, 213, 213);
}

.infor_bottom .infor_items .infor_content p:nth-of-type(1) {
    font-weight: 700;
    color: #2C3038;
}

.infor_bottom .infor_items .infor_content h2 {
    font-size: 50px;
    color: #dc4f72;
    font-weight: bold;
}

/* news */

.cap_news {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 90px 0;
}

.cap_news::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0.25turn, #000000c7, #00000056);
}



.cap_news .container div h2 {
    font-size: 30px;
    font-weight: bold;
}


.cap_news .container button {
    margin-top: 30px;
    padding: 15px 25px;
    font-weight: 700;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
}

.cap_news .container button:hover {
    background-color: #E2E6EA;
}

/* FAQs */

.cap_faqs {
    background-color: #F7F9FC;
}

.cap_faqs .container .faqs_bottom .faqs_bottom_left {
    width: 40%;
    padding: 0 80px 80px 80px;
}

.cap_faqs .container .faqs_bottom .faqs_bottom_left img {
    width: 100%;
    height: auto;
    object-fit: 100%;
    box-shadow: 1px 5px 20px rgb(204, 204, 204);
    transition: all 0.5s;
    border-radius: 5px;
}

.cap_faqs .container .faqs_bottom .faqs_bottom_left img:hover {
    transform: translateY(-10px);
}

.cap_faqs .container .faqs_bottom .faqs_bottom_right {
    width: 60%;
}


.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fff;
    box-shadow: none;
}

/* project */

.cap_project .container .cap_pj_bottom .pj_bt_item {
    gap: 20px;
}

.cap_project .container .cap_pj_bottom .pj_bt_item h3 {
    font-size: 30px;
}

.cap_project .container .cap_pj_bottom .pj_bt_item img {
    transition: all 0.5s;
}

.cap_project .container .cap_pj_bottom .pj_bt_item img:hover {
    transform: translateY(-10px);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    color: #dc4f72 !important;
    padding: 10px 110px;
}

.nav-pills .nav-link.active {
    position: relative;
}

.nav-pills .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #dc4f72;
}

.nav-pills .nav-link {
    padding: 10px 110px;
    color: black;
}



/* feeback */

.cap_feedback {
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.77)), url(../img/b2.jpg);
    padding: 70px 0;
}

.cap_feedback .container .fb_bottom .fb_bt_item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.fb_bt_img {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #dc4f72;
    margin-right: 10px;
}

.fb_bt_item .fb_bt_right h4 {
    color: #dc4f72;
    font-size: 18px;

}

.fb_bt_item .fb_bt_right span {
    font-size: 13px;
    color: #5a5a5a;
}

/* call to action */

.action_button button:nth-of-type(2) {
    margin-top: 30px;
    padding: 16px 24px;
    font-weight: 700;
    color: white;
    background-color: #dc4f72;
    ;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
}

.action_button button:nth-of-type(2):hover {
    background-color: #D62F58;
}

/* footer */
footer {
    background-color: #F7F9FC;
}

.footer_top .footer_item ul {
    list-style: none;
    padding: 0 0;
}

.footer_top .footer_item ul li {
    padding: 8px 0;
}

.footer_top .footer_item ul li a {
    transition: all 0.5s;
}

.footer_top .footer_item ul li a:hover {
    color: #dc4f72 !important;
}

.footer_top .footer_item {
    width: 15%;
}

.footer_top .footer_item:nth-of-type(4) {
    width: 55%;
}

.footer_top .footer_item:nth-of-type(4) div {
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.footer_top .footer_item:nth-of-type(4) div h3 {
    font-size: 18px;
    color: #2C3038;
    margin: 0 0 0px 0;
}

.footer_top .footer_item:nth-of-type(4) div input {
    border: none;
    background-color: #F7F9FC;
    padding: 12px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 70%;
}

.footer_top .footer_item:nth-of-type(4) div button {
    margin-top: 30px;
    padding: 12px 20px;
    font-weight: 700;
    color: white;
    background-color: #dc4f72;
    width: 20%;
    border: none;
    border-radius: 5px;
}

.footer_top .footer_item:nth-of-type(4) div {
    font-size: 22px;
}

.footer_bottom div a {
    color: black;
    transition: all 0.5s;
}



.footer_bottom div a:hover {
    color: #dc4f72 !important;
}



/* back to top */

.top_up a {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 0px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    opacity: 0;
    /* visibility: visible; */
}


.top_up {
    position: relative;
}

.top_up .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: .5;
}




/* Light theme */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: white;
    /* border: 1px solid black; */
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: #131617;
}

.dark #switchButton {
    background-color: #131617;
    /* border: 1px solid white;  */
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .card {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* global theme dark */
.dark .sub_content {
    color: #aeaeae;
}

/* header */

.dark header {
    background-color: #131617 !important;
}

.dark .navbar-nav .dropdown-menu {
    background-color: #131617;
}

.dark header .container .container-fluid li a {
    color: white;
}

.dark #search_header {
    display: inline-block;
    background: #171A1B;
    color: gray;
    border: 1px solid grey;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
}

.dark #search_header:hover {
    color: white;
}

.dark .navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 2px;
}

.dark .dropdown-item:hover {
    background: #131617;
}

/* carousel */


.dark .cap_carousel::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, black, white);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.dark .cap_left h1 {
    color: white;
}

.dark .cap_carousel .cap_left p {
    color: white;
}

/* tools */

.dark .cap_tools h2 {
    color: #d8dade;
}

.dark .tools_item {
    padding: 0 15px;
    background-color: #191C1D;
    border-radius: 5px;
    transition: all 0.5s;
}

.dark .tools_item:hover {
    background-color: #131617;
    box-shadow: none;
    transform: translateY(-5px);
    border: 1px solid gray;
}

/* infor  */

.dark .cap_infor {
    background-color: #191C1D;

}

.dark .cap_infor .infor_top .infor_top_left h2 {
    color: #d8dade;
}

.dark .infor_bottom .infor_content p {
    color: #d8dade !important;
}

.dark .infor_bottom .infor_content {
    background-color: #131617;
    padding: 20px;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid gray;
}

/* faqs */

.dark .cap_faqs {
    background-color: #191C1D;
}

.dark .cap_faqs .container .faqs_bottom .faqs_bottom_left img {
    box-shadow: none;

}

.dark .accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #131617;
}

.dark .accordion-button {
    color: white;
}

.dark .accordion {
    /* background-color: #131617 !important; */
    --bs-accordion-bg: #131617;
    color: white !important;
}

.dark .accordion-item {
    color: white;
}

/* project */
.dark .cap_project .cap_pj_top h2 {
    color: #d8dade;
}

.dark .cap_project .container .cap_pj_bottom .pj_bt_item h3 {
    color: #d8dade;
}

.dark .nav-pills .nav-link {
    color: white;
}

/* feedback */

.dark .cap_feedback {
    background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.77)), url(../img/b2.jpg);
}

.dark .cap_feedback .fb_top h2 {
    color: white;
}

.dark .cap_feedback .container .fb_bottom .fb_bt_item {
    background-color: #131617;
}

.dark .cap_feedback .container .fb_bottom .fb_bt_item p, .dark .cap_feedback .container .fb_bottom .fb_bt_item i {
    color: #d8dade !important;
}

/* CTA */

.dark .cap_action h1 {
    color: #d8dade;
}

/* footer */

.dark footer {
    background-color: #191C1D;
}

.dark .footer_top .footer_item h4 {
    color: #d8dade;
}

.dark .footer_top .footer_item:nth-of-type(4) div {
    background-color: #131617 !important;
}

.dark .footer_top .footer_item:nth-of-type(4) div h3 {
    color: #d8dade;
}

.dark .footer_top .footer_item:nth-of-type(4) div input {
    background-color: #191C1D;
}


.dark .footer_bottom div a {
    color: #d8dade;
}