/* global */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.sub_title {
    line-height: 20px;
    color: #dc4f72;
    margin: 0 0;
}

.sub_content {
    font-size: 16px;
    color: #5a5a5a;
}


/* header */
header {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    /* z-index: 99999; */
}

#search_header {
    display: inline-block;
    background: #F7F9FC;
    color: gray;
    border: 1px solid #d8dade;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

header .navbar-nav .nav-link.active, header .container .navbar .container-fluid .navbar-brand {
    color: #dc4f72;
}

header .nav-item .nav-link {
    color: #2c3038;
}

header .container ul li a {
    position: relative;
}


header .container ul li a::before {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 0;
    height: 2.5px;
    background-color: #dc4f72;
    transition: all 0.5s;

}

header .container ul li a:hover::before {
    width: 25px;
    color: #dc4f72;
}

/* style for popup icon search */

.modal.fade#popup_header .modal-content {
    background-color: transparent;
    border: none;
}

.modal.fade#popup_header .modal-content .modal-header {
    border: none;

}


/* CAROUSEL */

.cap_carousel {
    margin-top: 30px;
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    position: relative;
    margin-top: 90px;
    background-position: right;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cap_carousel::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.958);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.cap_carousel .container {
    padding: 0 25px;
    margin: auto;
}

.cap_left, .cap_right {
    width: 50%;
}

.cap_left {
    padding: 30px;
}

.cap_left h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
}


.cap_left p {
    margin-right: 100px;
    font-size: 20px;
    color: #5a5a5a;
}


/* tools */
.cap_tools .cap_tools_top {
    width: 65%;
    margin: auto;
    padding: 70px;
}

.cap_tools .cap_tools_top h2 {
    color: #2c3038;
    font-size: 46px;
    line-height: 46px;
    font-weight: bold;
}

.tools_item {
    padding: 0 15px;
    background-color: #F7F9FC;
    border-radius: 5px;
    transition: all 0.5s;
}

.tools_item:hover {
    background-color: white;
    box-shadow: 1px 10px 30px rgb(214, 214, 214);
    transform: translateY(-5px);
}

.tools_item .tools_content {
    padding: 48px 32px;
    transition: all 0.5s;
}


/* infomation */

.cap_infor {
    background-color: #F7F9FC;
    /* height: 60vh; */
    padding: 80px 0 50px;
}

.infor_top {
    padding-bottom: 100px;
}

.infor_top_left, .infor_top_right {
    width: 50%;
}

.infor_top_right img {
    width: 80%;
    object-fit: 100%;
    border-radius: 5px;
    transition: all 0.5s;
}

.infor_top_right img:hover {
    box-shadow: 0px 10px 30px rgb(214, 214, 214);
    transform: translateY(-5px);

}

.infor_top_left h2 {
    color: #2C3038;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.infor_top_left button {
    margin-top: 30px;
    padding: 15px 25px;
    font-weight: 700;
    color: white;
    background-color: #dc4f72;
    ;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
}

.infor_top_left button:hover {
    background-color: #D62F58;
}

.infor_bottom {
    gap: 30px;
}

.infor_bottom .infor_content {
    background-color: white;
    padding: 20px;
}

.infor_bottom .infor_items .infor_content p:nth-of-type(1) {
    font-weight: 700;
    color: #2C3038;
}

.infor_bottom .infor_items .infor_content h2{
    font-size: 50px;
    color: #dc4f72;
    font-weight: bold;
}











/* Light theme */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: white;
    /* border: 1px solid black; */
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: black;
}

.dark #switchButton {
    background-color: black;
    /* border: 1px solid white;  */
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .card {
    background-color: black;
    color: white;
    border: 1px solid white;
}